<link rel="stylesheet" href="<%= static_path(@conn, "/css/map.css") %>">
<script src="<%= static_path(@conn, "/js/map.js") %>"></script>

<h1>BattleMap<h1>
<div id="map" class="map"></div>

<script async defer
	src="https://maps.googleapis.com/maps/api/js?key=<%= @api_key %>&libraries=visualization&callback=initMap">
</script>
