<h2>Show Battle</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @battle.name %>
  </li>

  <li>
    <strong>Start date:</strong>
    <%= @battle.start_date %>
  </li>

  <li>
    <strong>End date:</strong>
    <%= @battle.end_date %>
  </li>

  <li>
    <strong>Location:</strong>
    <%= @battle.location %>
  </li>

</ul>

<span><%= link "Edit", to: battle_path(@conn, :edit, @battle) %></span>
<span><%= link "Back", to: battle_path(@conn, :index) %></span>
